*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}

.main-header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    padding-top: 20px;
    background-color: black;
    z-index: 50;
}
.main-header p {
    margin-left: 60px;
    align-self: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: azure;
    text-shadow: 2px 7px  green;
    cursor: pointer;
    user-select: none;
}
#navbar {
    position: fixed;
    width: 80%;
    top: 28;
    right: 0;
    background-color: black;
    z-index: 50;
    transition: .5s ease-in-out;
    user-select: none;

}
#navbar ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#navbar li {
    list-style-type: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
    cursor: pointer;
}
#navbar li:hover {
    color: burlywood;
    transition: ease-in-out .75s color;
}
#navIcon {
    display: none;
}
section {
    height: 100%;
    width: 100%;
    padding: 50px 25px 0 25px;
    position: relative;
    z-index: 48;
}
article {
    height: 100%;
    padding: 20px;
}

.home {
    display: flex;
    justify-content: space-evenly;
}

.home .box-1 {
    height: 100%;
    width: 60%;
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .box-1 img {
    height: 80%;
    user-select: none;
}
.home .box-2 {
    height: 100%;
    width: 40%;
    position: relative;
    padding: 10px;
    background-color: brown;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    text-align: center;
}
.home .box-2 p:nth-child(1) {
    font-size: 25px;
    letter-spacing: 3px;
    font-family: cursive;
}
.home .box-2 p:nth-child(1) span {
    display: block;
    letter-spacing: 0px;
    text-shadow: 2px 2px 3px green;
}
.home .box-2 p:nth-child(2) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.home .box-2 p:nth-child(3) {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.about {
    background-color: black;
    position: relative;
}
.about .box-1 {
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: darkmagenta;
    border-radius: 20px;

}
.about .box-1 p {
    font-size: 30px;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about .box-1 p:nth-child(1) {
    font-size: 25px;
    text-align: center;
    text-decoration: line-through pink 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.about .box-1 p:nth-child(2) {
    font-size: 35px;
}

.works .box-1 {
    background-color: darkcyan;
    height: 100%;
    position: relative;
    padding: 10px;
    border-radius: 20px;
}
.works .box-1 p {
    text-align: center;
    font-size: 30px;
    text-decoration: line-through pink 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
} 
.works .box-1 ul {
    text-align: center;
}
.works .box-1 li, a {
    text-decoration: underline;
    list-style-type: none;
    color: white;
    font-size: 25px;
}

.contacts .box-1 {
    background-color: darkgreen;
    height: 100%;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.contacts .box-1 p:nth-child(1) {
    font-size: 25px;
    text-align: center;
    text-decoration: line-through pink 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contacts .box-1 p:nth-child(2) {
    font-size: 30px;
    width: 50%;
    word-spacing: 4px;
    text-align: justify;
    word-wrap: break-word;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contacts .box-1 .links {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    align-items: center;
}
@media screen and (max-width: 400px) {

    .main-header {
        display: flex;
        width: 100%;
        height: 50px;
        position: fixed;
        justify-content: space-between;
        padding: 10px;
        background-color: black;
        z-index: 50;
    }
    .main-header p {
        margin-left: 50px;
        align-self: center;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        color: azure;
        text-shadow: 2px 7px  green;
    }
    #navbar {
        position: fixed;
        width: 100%;

        top: 25;
        background-color: black;
        z-index: 49;
        transition: .5s ease-in-out;

    }
    #navbar ul {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    #navbar li {
        list-style-type: none;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: azure;
    }
    #navIcon {
        display: block;
    }
    section {
        height: 100%;
        width: 100%;
        padding: 50px 25px 0 25px;
        position: relative;
        z-index: 48;
    }
    article {
        height: 100%;
        padding: 20px;
    }

    .home {
        display: flex;
        flex-direction: column;
    }

    .home .box-1 {
        height: 50%;
        width: 100%;
        position: relative;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home .box-1 img {
        height: 80%;
    }
    .home .box-2 {
        height: 50%;
        width: 100%;
        position: relative;
        padding: 10px;
        background-color: brown;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 15px;
        text-align: center;
    }
    .home .box-2 p:nth-child(1) {
        font-size: 20px;
        letter-spacing: 3px;
        font-family: cursive;
    }
    .home .box-2 p:nth-child(1) span {
        display: block;
        letter-spacing: 0px;
        text-shadow: 2px 2px 3px green;
    }
    .home .box-2 p:nth-child(2) {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .home .box-2 p:nth-child(3) {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    .about {
        background-color: black;
        position: relative;
    }
    .about .box-1 {
        height: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: darkmagenta;
        border-radius: 20px;

    }
    .about .box-1 p {
        font-size: 20px;
        text-align: justify;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .about .box-1 p:nth-child(1) {
        font-size: 25px;
        text-align: center;
        text-decoration: line-through pink 1px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    .about .box-1 p:nth-child(2) {
        font-size: 25px;
    }

    .works .box-1 {
        background-color: darkcyan;
        height: 100%;
        position: relative;
        padding: 10px;
        border-radius: 20px;
    }
    .works .box-1 p {
        text-align: center;
        font-size: 30px;
        text-decoration: line-through pink 1px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin-bottom: 20px;
    } 
    .works .box-1 ul {
        text-align: center;
    }
    .works .box-1 li, a {
        text-decoration: underline;
        list-style-type: none;
        color: white;
        font-size: 25px;
    }

    .contacts .box-1 {
        background-color: darkgreen;
        height: 100%;
        position: relative;
        padding: 10px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .contacts .box-1 p:nth-child(1) {
        font-size: 25px;
        text-align: center;
        text-decoration: line-through pink 1px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .contacts .box-1 p:nth-child(2) {
        font-size: 30px;
        width: 100%;
        text-align: justify;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .contacts .box-1 .links {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        align-items: center;
    }
}
